* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.progress-container {
  width: 600px;
  height: 15px;
  box-shadow: 0 0 10px #262626;
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
  overflow: hidden;
}
.progress {
  height: 100%;
  background-color: #3a76a7;
}
.dummy-text {
  min-height: 2000px;
  width: 60%;
  margin: 100px auto 0 auto;
  text-align: center;
}
